body {
	background-color: LightBlue;
}

.w {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

img {
	boder:0;
}

 /* nav-bar */
.header {
	position: relative;
	background-color:  #2b2b2b;
	width: 100%;
	height: 60px;
	box-shadow: 0 10px 10px rgba(0,0,0,.3);
}

.header .logo {
	height: 60px;
	position: absolute;
	width: 108px;
}

.header .logo img {
	height: 60px;
}

.header ul {
	display: inline-block;
	margin: 0 auto;
	padding-left: 20px;
	height: 60px;
	width: 960px;
}

.header li {
	display: inline-block;
	float: right;
	height: 60px;
	width: 100px;
	text-align: center;
	line-height: 60px;
	margin: 0 20px;
	padding: 0 5px;
}

.header li a {
	display: inline-block;
	color: #eaeaea;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
}

.header li:hover {
	background-color: #ff6637;
	color: #333;
}

.banner img {
	display: block;
	margin: 0 auto;
	border-bottom: 2px solid #ff6637;
	width: 100%;
}

/* context */
.c {
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
}

.c .l {
	float: left;
	display: inline-block;
}

.c .l img {
	border-radius: 50%;
}

.c .r {
	float: left;
	display: inline-block;
	padding: 85px 0 0 40px;
}

.c .r  .name {
	color: #333;
	font-size: 32px;
	text-align: left;
	margin: 0;
}

.c .r .word {
	font-size: 20px;
	color: #444;
	width: 660px;
	line-height: 40px;
	text-align: left;
	display: inline-block;
}

.c .r .sp{
	border-bottom: 1px solid #b5b5b5;
	padding-bottom: 20px;
	width: 32px;
	padding-top: 20px;
	padding-left: 6px;
}

.img .one {
	top: 20px;
	left: 0;
}

.word-word {
	width: 1240px;
	height: 200px;
	margin: 10px auto 0;
} 

.word {
	width: 292px;
	height: 180px;
	margin-right: 16px;
	border-bottom: 2px solid #ff6637;
}

.word span {
	font-size: 18px;
	line-height: 50px;
    color: rgb(31, 30, 25);
}

.word p {
	font-size: 14px;
	line-height: 25px;
	color: rgb(169, 169, 169);
}

.main-body .ha {
	margin: 50px auto ;
	text-align: left;
	font-weight: 400;
}

.main-body .pa {
	display: block;
	margin-bottom: 100px;
	text-align: left;
	width:1200px;
	line-height: 30px;
}
